<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
    default-autowire="byName">
    
    <bean id="dclassProcessor" class="org.rezsoft.webclass.data.DClassProcessor">
        <property name="dtree">
            <list>
                <value>/WEB-INF/dtrees/devicedetection/openddr.dtree</value>
                <value>/WEB-INF/dtrees/devicedetection/browser.dtree</value>
                <value>/WEB-INF/dtrees/human/emotion.dtree</value>
                <value>/WEB-INF/dtrees/en_grammar/interrogative_direct.dtree</value>
            </list>
        </property>
        <property name="data">
            <list>
                <value>/WEB-INF/dtrees/en_entertainment/sports.data</value>
            </list>
        </property>
    </bean>

</beans>
